/* @import "alyata-code.css"; */

:root {
    --body_background: #6e5773;
    --main_background: #febe7e;

    --nav-links-color: #f4aaff;
    --nav-title-color: #f4aaff;
    --link-color: #511cc6;
}

body {
    background-color: var(--body_background);
}

main {
    background-color: var(--main_background);
    padding: 10px;
    border-radius: 10px;
}

main a:link {
    color: var(--link-color);
}

a:hover {
  color: #ff00ff;
}
a:active {
  color: blue;
}

/* ALL CREDIT GOES TO  alyata
 * at https://alyata.github.io/ 
 */


/* box around inline code */
code {
    background-color: #dea973;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
}

/* box around code blocks */ 
pre code {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
}
